<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1f11e650-2f1e-460c-a557-a0d55fdb57a4" Alias="category" Level="4">
  <Info>
    <Name>Category</Name>
    <Icon>icon-box-alt color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Features/Catalog</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5eee6945-803e-417f-ba2b-754e9c17ba47" SortOrder="0">product</ContentType>
    <ContentType Key="1f11e650-2f1e-460c-a557-a0d55fdb57a4" SortOrder="1">category</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>