<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5cedd6f1-7dc1-4696-9eb2-e9df9aa6129d" Alias="pLPPage" Level="2">
  <Info>
    <Name>PLP Page</Name>
    <Icon>icon-application-window-alt color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>PLPPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a976d624-9ae7-41fe-84ea-d0db27ac86be">PLPPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e949cc2d-80f5-41b0-b641-3dccb4cad7d8" SortOrder="0">pDPPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>