<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5815dcc7-de7d-4571-af47-3b42fbd2b845" Alias="siteSettings" Level="3">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-settings color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components/Foundation</Folder>
    <Compositions>
      <Composition Key="a737cfd1-e3c4-4ca2-bff3-2b8f846dd667">siteSettingsProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9a18a8e7-00a8-4449-8137-76735337f26c" SortOrder="0">catalog</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>