<?xml version="1.0" encoding="utf-8"?>
<Content Key="51a4e78f-316c-4e5f-9012-7ef156ad3f78" Alias="[Cat 2] Product 1" Level="5">
  <Info>
    <Parent Key="bd5540de-dec1-4d94-92c7-5d4c97078fe6">Cat 2</Parent>
    <Path>/Home/SiteSettings/Catalog/Cat2/Cat2Product1</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-09-29T21:18:45</CreateDate>
    <NodeName Default="[Cat 2] Product 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>