<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc9f692e-4e30-468b-bd6e-08b6db113594" Alias="Cat 1" Level="4">
  <Info>
    <Parent Key="4bdcc5a1-d291-4c21-954b-be6e383c33d7">Catalog</Parent>
    <Path>/Home/SiteSettings/Catalog/Cat1</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-09-29T21:16:59</CreateDate>
    <NodeName Default="Cat 1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>