<?xml version="1.0" encoding="utf-8"?>
<Content Key="80a06ac9-88ad-4644-ae5b-717339cea74e" Alias="[Cat 1] Product 1" Level="5">
  <Info>
    <Parent Key="fc9f692e-4e30-468b-bd6e-08b6db113594">Cat 1</Parent>
    <Path>/Home/SiteSettings/Catalog/Cat1/Cat1Product1</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-09-29T21:19:17</CreateDate>
    <NodeName Default="[Cat 1] Product 1" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>