<?xml version="1.0" encoding="utf-8"?>
<Content Key="4bdcc5a1-d291-4c21-954b-be6e383c33d7" Alias="Catalog" Level="3">
  <Info>
    <Parent Key="a0473dc4-89ba-42d8-a479-9fa24a447bfd">Site Settings</Parent>
    <Path>/Home/SiteSettings/Catalog</Path>
    <Trashed>false</Trashed>
    <ContentType>catalog</ContentType>
    <CreateDate>2025-09-29T21:16:50</CreateDate>
    <NodeName Default="Catalog" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>