<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1eb1a6c-ca33-4530-bf13-1e62bce3ee03" Alias="Products" Level="2">
  <Info>
    <Parent Key="9038ba3c-0073-4d23-8a62-4894030f540b">Home</Parent>
    <Path>/Home/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>pLPPage</ContentType>
    <CreateDate>2025-09-29T21:20:55</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a976d624-9ae7-41fe-84ea-d0db27ac86be">PLPPage</Template>
  </Info>
  <Properties />
</Content>