<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0473dc4-89ba-42d8-a479-9fa24a447bfd" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="9038ba3c-0073-4d23-8a62-4894030f540b">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-09-29T21:10:18</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <siteName>
      <Value><![CDATA[UEC]]></Value>
    </siteName>
  </Properties>
</Content>