<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1ef8119-0f44-4459-82bf-e4a65ca4395d" Alias="[Uncategorized] Product 1" Level="4">
  <Info>
    <Parent Key="4bdcc5a1-d291-4c21-954b-be6e383c33d7">Catalog</Parent>
    <Path>/Home/SiteSettings/Catalog/UncategorizedProduct1</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2025-09-29T21:17:18</CreateDate>
    <NodeName Default="[Uncategorized] Product 1" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>